.padding {
  max-width: 1200px;
  margin: auto;
}

.md-content {
  overflow: auto;
  max-width: 100%;
}

.contact_card {
  padding: 30px;
  margin: 80px 20px;
}

.form-control {
  color: unset;
}

.form-control:focus {
  color: unset;
}
