* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#a {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 100%;
}

.navigation_row {
  position: sticky;
  top: 0;
}
